
.wrapper {
  display: flex;
  width: 100%;
  min-height: 600px;
  flex-direction: column; 
}
.header {
  // background: #D0A2F7;
  background: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.24);
  color: #fff;
  min-height: 5rem;
  padding: 1.1rem 1.6rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1010;
  display: flex;
  align-items: center;
}
.btn-back_icon {
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}
.container{
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.app-content {
  flex: 1;
  min-width: 1px;
  width: 90%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.16);
}
.content{
  padding:10px 30px;
  .toolbar{
    border-radius:5px !important;
  }
  .editor-toolbar{
    border-radius: 5px;
    height: 350px;
  }
}
.btnContainer{
  display: flex;
  justify-content: flex-end;
  padding:2px 30px 20px;
}
.btn-save {
  padding: 3px 4px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #23c483;
  border: none;
  border:1px solid #13ca80;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
  }
}
.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }
  .document-field {
    width: 100%;
    margin-bottom: 25px;
  }
  .document-field_text {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
  }
  .document-field_input {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--color-body);
    margin: 20px 0;
  }
  .document-field_notifi {
    .video-field_icon {
      transform: translateY(2px);
      margin-right: 4px;
    }
  }