.wrapper {
  width: 100%;
      background-image: url(../../assets/images/header/bg_rainbow.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 860px;
  
}